<h1>ユーザー登録</h1>

<%= form_with model: @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :name, User.human_attribute_name(:name), style: "display: block" %>
    <%= f.text_field :name, autofocus: true, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div>
    <%= f.label :email, User.human_attribute_name(:email), style: "display: block" %>
    <%= f.text_field :email, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div>
    <%= f.label :password, User.human_attribute_name(:password), style: "display: block" %>
    <%= f.password_field :password, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div>
    <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation), style: "display: block" %>
    <%= f.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div>
    <%= f.submit (t 'defaults.register'), class: "btn btn-secondary" %>
  </div>
<% end %>

<div>
  <%= link_to (t 'defaults.guest_login'), guest_login_path, data: { turbo_method: :post }, class: "link" %>
</div>
