<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="flex">
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <label for="my-drawer" class="btn btn-ghost drawer-button">
            <i class="fa-solid fa-bars"></i>
          </label>
          <%= image_tag 'netalog.png', class: "mb-3", size: "50x50" %>
          <%= link_to 'ネタログ', posts_path, class: "font-bold text-xl" %>
        </div>

        <div class="nabvar-center">
          <div class="flex items-center justify-center">
            <div class="flex border-2 rounded">
              <input type="text" class="px-4 py-2 w-80 rounded-full" placeholder="投稿を検索する">
              <button class="flex items-center justify-center px-4 border-l">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="dropdown dropdown-hover dropdown-end">
            <label tabindex="0" class="btn m-1 btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <%= image_tag 'netalog.png' %>
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <%= link_to '#' do%>
                  <i class="fa-regular fa-address-card"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to logout_path, data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                <% end %>
              </li>
              <li>
                <a href="">
                  <i class="fa-regular fa-bell"></i>お知らせ
                    <span class="badge">New</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
