<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="flex">
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <label for="my-drawer" class="btn btn-ghost drawer-button">
            <i class="fa-solid fa-bars"></i>
          </label>
          <%= link_to image_tag('netalog.png', class: "mb-3", size: "50x50"), posts_path %>
          <%= link_to 'ネタログ', posts_path, class: "font-bold text-xl" %>
        </div>

        <div class="navbar-end">
          <div class="dropdown dropdown-hover dropdown-end">
            <label tabindex="0" class="btn m-1 btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <%= image_tag 'netalog.png' %>
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <%= link_to '#' do %>
                  <i class="fa-regular fa-address-card"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= button_to logout_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                <% end %>
              </li>
              <li>
                <a href="#">
                  <i class="fa-regular fa-bell"></i>お知らせ
                    <span class="badge">New</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
