<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <div class="grid grid-flow-col gap-4">
    <%= link_to 'ねたろぐ', '', class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', '', class: "link link-hover" %>
    <%= link_to '利用規約', '', class: "link link-hover" %>
    <%= link_to 'お問い合わせ', '', class: "link link-hover" %>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <%= link_to 'https://twitter.com/taasan_runteq32', target: :_blank, rel: "noopener noreferrer" do %>
        <i class="fa-brands fa-twitter fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div>
    <p>© 2023 ねたろぐ</p>
  </div>
</footer>