  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 place-items-center mx-3">
    <% @posts.each do |post| %>
      <div class="col-span-1 card w-auto bg-base-100 shadow-xl mt-4 mx-1.5">
        <div class="flex justify-between">
          <p>投稿者 <%= post.user.name %></p>
          <p><%= post.count_button_pressed_times %>笑い</p>
        </div>
        <figure>
          <%= link_to image_tag(post.video.thumbnail, class: "w-fit"), post_path(post), data: { turbo: false } %>
        </figure>
        <div class="card-body h-56 justify-between">
          <h2 class="card-title text-base">
            <%= post.video.title.truncate(40) %>
            <% if post.new? %>
              <div class="badge badge-secondary">NEW</div>
            <% end %>
          </h2>
          <div>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">タグ1</div>
              <div class="badge badge-outline">タグ２</div>
            </div>
            <% if current_user.own?(post) %>
              <%= render 'shared/edit_and_delete_buttons', post: post %>
            <% else %>
              <div class="flex">
                <%= render 'shared/like_button', post: post %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex justify-center my-5">
    <%== pagy_nav(@pagy) %>
  </div>
