  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 place-items-center mx-3">
    <% @popular_posts.each do |post| %>
      <div class="col-span-1 card w-auto bg-base-100 shadow-xl mt-4 mx-1.5">
        <div class="flex justify-between">
          <p class="ml-1">投稿者 <%= link_to post.user.name, user_path(post.user) %></p>
          <p class="mr-1"><%= post.count_button_pressed_times %>笑い</p>
        </div>
        <figure>
          <%= link_to image_tag(post.video.thumbnail, class: "w-fit"), post_path(post), data: { turbo: false } %>
        </figure>
        <div class="card-body h-56 justify-between">
          <h2 class="card-title text-base">
            <%= post.video.title.truncate(40) %>
            <% if post.new? %>
              <div class="badge badge-secondary">NEW</div>
            <% end %>
          </h2>
          <div>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">タグ1</div>
              <div class="badge badge-outline">タグ２</div>
            </div>
            <% if current_user.own?(post) %>
              <div class="card-actions mt-2 justify-around">
                <%= render 'shared/own_post_menus', post: post %>
              </div>
            <% else %>
              <div class="card-actions justify-around mt-2">
                <%= render 'shared/like_button', post: post %>
                <div class="mt-1">
                  <div class="dropdown dropdown-top dropdown-end">
                    <label tabindex="0">
                      <i class="fa-solid fa-list fa-xl"></i>
                    </label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                        <a href="#">プレイリスト1に追加</a>
                        <a href="#">プレイリスト2に追加</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex justify-center my-5">
    <%== pagy_nav(@pagy) %>
  </div>
